@import url(../fonts/pretendardvariable.css);

.lucky {
  color: #fff;
  background-color: #f64545;
  margin: 0;
  font-size: 1.4rem;
  padding: 20px;
  border-radius: 0 0 25px 25px;
}
.coin {
  width: 250px;
  height: 400px;
  margin-top: 50px;
}
.handle {
  width: 70px;
  cursor: pointer;
  position: absolute;
  top: 302px;
  left: 192px;
}
.numul {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.num {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  margin-right: 15px;
  color: #fff;
  font-weight: bold;
}
.imgWrapper {
  position: relative;
}
