@import url("../fonts/pretendardvariable.css");

.textMain {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.expenseWrapper {
  background-color: #fff;
  width: 80%;
  margin: 15px auto;
  border-radius: 20px;
  padding: 10px;
}
.container {
  width: 80%;
  margin: 18px auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 25px;
  text-align: left;
}
.container h3 {
  margin: 3px 3px 10px;
}
.container .categoryWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
  margin-left: 5px;
  margin-top: 5px;
}
.container .delBtn {
  border: none;
  cursor: pointer;
  background-color: #fff;
}
.titleBox {
  background-color: #f64545;
  padding: 15px 0 10px;
}
.dropdown {
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.addBtn {
  position: absolute;
  bottom: 60px;
  right: 23px;
  background-color: #f64545;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.addBtn::before {
  content: "";
  width: 20px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.addBtn:after {
  content: "";
  width: 4px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.addTitle {
  color: #f64545;
}
.inputWrapper {
  background-color: #fff;
  width: 80%;
  height: 40px;
  margin: 20px auto;
  border-radius: 20px;
  padding: 10px;
  color: #9e9e9e;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}
.inputWrapper input {
  width: 250px;
  border: none;
  text-align: right;
  font-family: "Pretendard Variable", sans-serif;
  font-size: 1rem;
}
.calendarWrapper {
  background-color: #fff;
  width: 80%;
  height: 40px;
  margin: 20px auto;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.calendarWrapper button {
  width: 70%;
  text-align: left;
  padding-left: 25px;
  color: #9e9e9e;
  font-size: 1rem;
  font-family: "Pretendard Variable", sans-serif;
  border: none;
  background-color: #fff;
}
.categoryWrapper1 {
  background-color: #fff;
  width: 80%;
  height: 40px;
  margin: 20px auto;
  border-radius: 20px;
  color: #9e9e9e;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categoryWrapper1 span {
  color: #000;
  margin-right: 50px;
}
.categoryWrapper1 label {
  margin-left: 20px;
}
.saveBtn {
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: #f64545;
  cursor: pointer;
  margin-right: 30px;
  position: absolute;
  bottom: 80px;
  left: 125px;
}
.cancelBtn {
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: #cacaca;
  cursor: pointer;

  position: absolute;
  bottom: 80px;
  right: 125px;
}
.categoryMenu {
  width: 80%;
  background-color: #fff;
  margin: 10px auto;
  padding: 10px;
  border-radius: 25px;
  margin-top: 25px;
}
.categoryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  z-index: 0;
}
.categoryContainer li {
  width: 100%;
  padding: 5px;
  line-height: 110px;
  height: 80px;
  position: relative;
}
.categoryContainer li:nth-child(1)::before {
  content: "";
  background: url(../images/food.svg) no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  left: 51%;
  position: absolute;
  top: 38%;
  transform: translate(-38%, -50%);
}
.categoryContainer li:nth-child(2)::before {
  content: "";
  background: url(../images/Local\ cafe.svg) no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  left: 50%;
  position: absolute;
  top: 38%;
  transform: translate(-38%, -50%);
}
.categoryContainer li:nth-child(3)::before {
  content: "";
  background: url(../images/car.svg) no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  left: 51%;
  position: absolute;
  top: 38%;
  transform: translate(-38%, -50%);
}
.categoryContainer li:nth-child(4)::before {
  content: "";
  background: url(../images/life.svg) no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  left: 51%;
  position: absolute;
  top: 38%;
  transform: translate(-38%, -50%);
}
.categoryContainer li:nth-child(5)::before {
  content: "";
  background: url(../images/3사.svg) no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  left: 52%;
  position: absolute;
  top: 38%;
  transform: translate(-38%, -50%);
}
.categoryContainer li:nth-child(6)::before {
  content: "";
  background: url(../images/present.svg) no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  left: 50%;
  position: absolute;
  top: 38%;
  transform: translate(-38%, -50%);
}
.categoryContainer li:nth-child(7)::before {
  content: "";
  background: url(../images/game.svg) no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  left: 49%;
  position: absolute;
  top: 42%;
  transform: translate(-42%, -50%);
}
.categoryContainer li:nth-child(8)::before {
  content: "";
  background: url(../images/fastion.svg) no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  left: 51%;
  position: absolute;
  top: 38%;
  transform: translate(-38%, -50%);
}
.categoryContainer li:nth-child(9)::before {
  content: "";
  background: url(../images/culture.svg) no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  left: 48%;
  position: absolute;
  top: 38%;
  transform: translate(-38%, -48%);
}
.categoryContainer li:nth-child(10)::before {
  content: "";
  background: url(../images/doctor.svg) no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  left: 51%;
  position: absolute;
  top: 38%;
  transform: translate(-38%, -50%);
}
.categoryContainer li:nth-child(11)::before {
  content: "";
  background: url(../images/home.svg) no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  left: 49%;
  position: absolute;
  top: 38%;
  transform: translate(-38%, -50%);
}
.categoryContainer li:nth-child(12)::before {
  content: "";
  background: url(../images/Frame\ 361.svg) no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  left: 48%;
  position: absolute;
  top: 35%;
  transform: translate(-38%, -50%);
}
.ulWrapper {
  overflow-y: auto;
  max-height: 445px;
}
