body {
  background-color: rgb(221, 227, 230);
}
.appBox {
  border: 1px solid #000;
  width: 450px;
  min-height: 750px;
  height: fit-content;
  margin: 30px auto;
  text-align: center;
  position: relative;
  background-color: #eee;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.appBox .globalNav {
  position: absolute;
  bottom: 0;
}
.appBox .globalNav ul {
  display: flex;
}
.appBox .globalNav ul li {
  border: 1px solid #eee;
  background-color: #fff;

  border-left: none;
  border-bottom: none;
  border-radius: 7px 7px 0 0;
  padding: 0 22px;
  height: 50px;
  line-height: 75px;
  font-size: 0.9rem;
  position: relative;
}
.appBox .globalNav ul li:nth-child(1) a::before {
  content: "";
  background: url(../images/bookicon.svg);
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
}
.appBox .globalNav ul li:nth-child(2) a::before {
  content: "";
  background: url(../images/baricon.png);
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  left: 18px;
}
.appBox .globalNav ul li:nth-child(3) a::before {
  content: "";
  background: url(../images/boxicon.svg);
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  left: 18px;
}
.appBox .globalNav ul li:nth-child(4) a::before {
  content: "";
  background: url(../images/네잎클로버\ 1.svg) no-repeat;
  width: 28px;
  height: 26px;
  display: block;
  position: absolute;
  top: 2px;
  left: 21px;
}
.appBox .globalNav ul li a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 50px;
  display: block;
  color: #f64545;
  font-weight: bold;
  cursor: pointer;
}
.logoutBtn {
  position: absolute;
  bottom: 12px;
  right: 20px;
  cursor: pointer;
  border: none;
}
